@import "tailwindcss";
@source "../../../plugins";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Thicker edge when selected */
.react-flow__edge.selected .react-flow__edge-path {
    stroke-width: 4 !important;
}